header {
	background:#e53935;
	color:#fff;
	background-color: rgba(0,0,0,0.3) !important;
}

.imagen_border{
	width: 300px;
	height: 200px;
	position: fixed;
	left: 360px;
	top: 400px;
	box-shadow: 10px 10px 8px 10px #888888;
}

.imagen{
	position: fixed;
	top: 450px;
	left: 360px;
	box-shadow: 10px 10px 8px 10px #888888;
}

.fondo_venta{
	border-color: black;
	border-radius: 10px;
	width: 800px;
	position: fixed;
	top: 400px;
	left: 340px;
	height: 300px;
}

.imagen_venta{
	position: fixed;
	top: 200px;
	left: 540px;
}

.formulario{
	margin-top: 30px;
	margin-left: 300px;
}

.campo_venta1{
	margin-right: 35px;
}

.campo_venta2{
	margin-right: 36px;
}


.ver_ventas{
	position: fixed;
	top: 622px;
	left: 970px;
}

#ingreso{
	margin-top: 30px;
}

.titulo{
	margin-top: -25px;
}

.campos{
	margin-top: 35px;
}
